/* font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */


body{
    color:#222;
}
a{ font-family: 'Noto Sans KR', sans-serif;}
li{ list-style: none;}

.bgimg{}
.round,
.round a{ border-radius: 30px;}
.fontS{ font-size: 13px; font-weight: 100; letter-spacing: -0.083em;}

#sectionSamsung{

}
#sectionSamsung .thumb1{}
#sectionSamsung .thumb2{}
#sectionSamsung .thumb3{}
#sectionSamsung .thumb4{}
#sectionSamsung .thumb5{}
#sectionSamsung .thumb6{}
#sectionSamsung .bgimg a{
    background-color: black ;
    padding: 18px;
    text-decoration: none;
}













