/* font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */


body{
    color:#222;
}
a{ font-family: 'Noto Sans KR', sans-serif;}
li{ list-style: none;}


.round, .round a{ border-radius: 30px;}
.fontS{ font-size: 13px; font-weight: 100; letter-spacing: -0.083em;}

#sectionSamsung .bgimg a{ 
    background: 
    url(https://image.semiconductor.samsung.com/image/samsung/p6/semiconductor/home/feature/230314/th-home-pm9c1a-pc2@2x.png)
    center no-repeat ;
    background-size: auto 100%;
}
#sectionSamsung .bgimg div a{
    background-color: black ;
    padding: 18px;
    text-decoration: none;
    position: absolute;
    left:0; right:0;
    top:0; bottom:0;
}
#sectionSamsung li div{ position: relative; height: 0; padding-top: 100%;}












