/* font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */


body{
    color:#222;
}
a{ font-family: 'Noto Sans KR', sans-serif;}
li{ list-style: none;}

.bgimg{}
.round{}
.fontS{}

#sectionSamsung{

}
#sectionSamsung .thumb1{}
#sectionSamsung .thumb2{}
#sectionSamsung .thumb3{}
#sectionSamsung .thumb4{}
#sectionSamsung .thumb5{}
#sectionSamsung .thumb6{}












